# bash aliases

# functional
alias ll='eza -la'
alias ls='eza'
alias la='eza -A'
alias cls='clear'
alias grep='rg'
alias f='fzf'

# commands
alias update='brew update && brew upgrade'
alias reload='source ~/.bash_profile'
alias ip='ifconfig'

# commands:functions
function download() {
  # Check if curl is available
  if command -v curl &> /dev/null; then
    echo "Using curl to download: $1"
    # -L: Follow redirects, -O: Write output to a local file
    curl -L -O "$1"
  
  # Check if wget is available
  elif command -v wget &> /dev/null; then
    echo "Using wget to download: $1"
    # -c: Continue download, --show-progress: Display progress
    wget -c --show-progress "$1"
    
  # Neither is found
  else
    echo "Error: Neither curl nor wget is installed." >&2
    return 1
  fi
}

# programs
alias mux='tmux'
alias py='python3'
alias j='java'

# git
alias add='git add'
alias pull='git pull'
alias push='git push'
alias commit='git commit -m'
alias status='git status'
alias log='git log'
alias checkout='git checkout'
alias brach='git branch'
